{{ define "main" }}
<div>
  <div>
    <h1>{{ .Title }}</h1>
    {{ with .Date.Format "2006-01-02" }}
      <div>{{ . }}</div>
    {{ end }}
    {{ with .Params.tags }}
      {{ range . }}
        <a href="/tags/{{ . }}">{{ lower . }}</a>
      {{ end }}
    {{ end }}
  </div>
  <hr>
  <div>
    {{ .Content }}
  </div>
  <div>
    {{ with .Site.RegularPages.Prev . }}
      <div>
        <p>前の記事</p><a href="{{ .Permalink }}">{{ .Title }}</a>
      </div>
    {{ end }}
    {{ with .Site.RegularPages.Next . }}
      <div>
        <p>次の記事</p><a href="{{ .Permalink }}">{{ .Title }}</a>
      </div>
    {{ end }}
  </div>
</div>
{{ end }}
